/* .position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

/* .main_menu {
  background: #7daef8;
} */

@font-face {
  font-family: K2D;
  src: url(../fonts/K2D-Medium.ttf);
}

@font-face {
  font-family: neo_sans_arabic;
  src: url("../fonts/Neo Sans Arabic Regular.ttf");
}

body {
  font-family: K2D, neo_sans_arabic, helvetica, arial, sans-serif;
}

.middel_thumb_area {
  margin-top: -120px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .main_menu {
  padding-top: 60px;
}

.btn.btn-lg {
  padding: 0.6rem 2.4rem;
  font-size: 1.3rem;
}

/* icons */
.jury {
  background: url("../images/icons/jury.png") !important;
  background: white;
}

.news-slider-main {
  background: #eee;
  width: 100%;
  min-height: 80px;
  border-radius: 5px;
  padding: 8px 0 10px 0;
  height: 310px;
}

/* .news-slider {
  margin-bottom: 25px;
} */

.news-slider .nbs-flexisel-item img {
  width: 250px;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 15px;
  /* width: 200px; */
  height: 150px;
  /* border: 0px solid gray !important;
    border-radius: 10px !important;
    box-shadow: 2px; */
}

.news-slider .nbs-flexisel-item {
  float: left;
  margin: 0px;
  margin-top: 10px;
  text-align: center !important;
  /* cursor: pointer; */
  position: relative;
  line-height: 1.6em;
  height: 310px;
  width: 100%;
}

.bg-news {
  background: #b4b4b4 !important;
}

.news-slider .nbs-flexisel-item p {
  /* text-align: center !important; */
  direction: rtl;
  padding: 0 37px 0 37px;
}

.news-slider .nbs-flexisel-nav-left {
  left: 10px;
  top: 140px !important;
  background: url(../images/button-previous.png) no-repeat;
}

.news-slider .nbs-flexisel-nav-right {
  right: 5px;
  top: 140px !important;
  background: url(../images/button-next.png) no-repeat;
}

.news-list img {
  height: 180px;
}

.news-list .overlay {
  width: 100%;
}

.news-list .custom-select {
  height: calc(3.25rem + 2px);
}

.books-slider .nbs-flexisel-item {
  float: left;
  margin: 0px;
  margin-top: 10px;
  text-align: center !important;
  /* cursor: pointer; */
  position: relative;
  line-height: 1.6em;
  height: 250px;
  width: 100%;
}

.books-slider .nbs-flexisel-item img {
  width: 150px;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 15px;
  /* width: 200px; */
  height: 190px;
  /* border: 0px solid gray !important;
      border-radius: 10px !important;
      box-shadow: 2px; */
}

.books-slider-main {
  background: #eee;
  width: 100%;
  min-height: 80px;
  border-radius: 5px;
  padding: 8px 0 10px 0;
  height: 290px;
}

.books-slider .nbs-flexisel-item p {
  text-align: center !important;
  direction: rtl;
  padding: 0 25px 0 25px;
}
.books-slider .nbs-flexisel-item {
  float: left;
  margin: 0px;
  margin-top: 10px;
  text-align: center !important;
  /* cursor: pointer; */
  position: relative;
  line-height: 1.6em;
  height: 310px;
  width: 100%;
}

.work-area i {
  font-size: 50px !important;
}

.ads img {
  width: 300px;
  height: 150px;
}

.statistics p {
  font-size: 40px;
}

.statistics span {
  font-size: 20px;
}

.footer-menu a {
  color: white !important;
}

.footer-menu a::before {
  content: " * ";
  color: rgb(16, 4, 58);
}

.top_header_area .brand {
  text-shadow: 1px 1px 0.5px #000000;
}

.logo-sm-show {
  display: none;
}

footer span {
  width: 100%;
}

.bookstore,
.guide {
  position: relative;
}

.bookstore,
.guide .card a {
  font-size: 13px;
  padding: 2px;
}

.bookstore .card-body h4,
.guide .card-body h4 {
  height: 35px !important;
}

.bookstore .card img,
.guide .card img {
  height: 220px;
  width: 100%;
}
.bookstore-search,
.guide-search {
  position: relative;
  min-height: 250px;
  background: url("../images/books/bg-search.jpg");
  background-size: cover;
  /* background: red; */
}

.bookstore .op-bg,
.guide .op-bg {
  position: relative;
  min-height: 200px;
  background: white;
  opacity: 0.97;
  padding-top: 5%;
  padding-bottom: 10px;
  z-index: 1000;
}

.bookstore .dropdown-menu {
  position: absolute;

  left: 0;
  height: 600px;

  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 15rem 0 0;
  font-size: 1.4rem;
  color: #212529;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.mdb-dropdownLink-1 {
  font-size: 16px !important;
}

.pagination .page-item .page-link {
  font-size: 1.3rem;
}

.guide-search {
  background: url("../images/map.jpg");
  background-size: cover;
}

.guide .op-bg {
  opacity: 0.92;
}

.guide-search select,
.guide-search input {
  height: 35px;
}

.guide .location {
  /* width: 80% !important; */
  height: 100px;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  /* margin: 0.5%; */
  border: 5px solid white;
  border-radius: 7px;

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#cfd9df),
    to(#e2ebf0)
  ) !important;
  background-image: -webkit-linear-gradient(
    bottom,
    #cfd9df 0%,
    #e2ebf0 100%
  ) !important;
  background-image: -o-linear-gradient(
    bottom,
    #cfd9df 0%,
    #e2ebf0 100%
  ) !important;
  background-image: linear-gradient(
    to top,
    #cfd9df 0%,
    #e2ebf0 100%
  ) !important;
}

.heavy-rain-gradient {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#cfd9df),
    to(#e2ebf0)
  ) !important;
  background-image: -webkit-linear-gradient(
    bottom,
    #cfd9df 0%,
    #e2ebf0 100%
  ) !important;
  background-image: -o-linear-gradient(
    bottom,
    #cfd9df 0%,
    #e2ebf0 100%
  ) !important;
  background-image: linear-gradient(
    to top,
    #cfd9df 0%,
    #e2ebf0 100%
  ) !important;
}

.guide .location div:first-child {
  border-bottom: 2px dashed rgba(7, 1, 65, 0.15);
  padding-bottom: 15px;
  margin-bottom: 7px;
  color: rgb(10, 2, 46) !important;
}

.guide .location div {
  color: rgb(22, 0, 121) !important;
}

.guide .guide-items img {
  width: 60%;
}

.guide .guide-items div.text-center {
  border: 2px solid rgb(16, 1, 70);
  padding: 10px;
  padding-top: 20px;
  height: 70px;
  border-radius: 10px 0px 10px 0px;
  vertical-align: middle;
  color: rgb(0, 0, 0);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#cfd9df),
    to(#e2ebf0)
  ) !important;
  background-image: -webkit-linear-gradient(
    bottom,
    #cfd9df 0%,
    #e2ebf0 100%
  ) !important;
  background-image: -o-linear-gradient(
    bottom,
    #cfd9df 0%,
    #e2ebf0 100%
  ) !important;
  background-image: linear-gradient(
    to top,
    #cfd9df 0%,
    #e2ebf0 100%
  ) !important;
}

.guide .guide-items div.text-center:hover {
  width: 103%;
}

.guide .guide-items a {
  vertical-align: middle;
  text-align: center;
}

/* #locations {
  height: 180px;
} */

.guide .ads img {
  width: 100%;
  height: 90px;
}

.input-daterange input[type="text"] {
  height: calc(3.25rem + 2px);
}

.input-daterange .input-group-addon {
  width: 40px;
}

.news-img {
  position: relative;
  text-align: center;
}

.news-img img {
  width: 400px;
  height: 280px;
}

.news-details p.h3 {
  line-height: 30px;
}

.news-content p {
  margin-top: 10px;
  font-size: 16px;
}

.news-list .card-body {
  height: 100px;
}

.lawyers-list .lawyer {
  /* width: 80% !important; */
  height: 340px;
  /* padding: 10px; */
  margin-bottom: 5px;
  text-align: center;
  /* margin: 0.5%; */
  border: 5px solid white;
  border-radius: 7px;

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#cfd9df),
    to(#e2ebf0)
  ) !important;
  background-image: -webkit-linear-gradient(
    bottom,
    #cfd9df 0%,
    #e2ebf0 100%
  ) !important;
  background-image: -o-linear-gradient(
    bottom,
    #cfd9df 0%,
    #e2ebf0 100%
  ) !important;
  background-image: linear-gradient(
    to top,
    #cfd9df 0%,
    #e2ebf0 100%
  ) !important;
}

.lawyers-list .lawyer div:first-child {
  /* border-bottom: 2px dashed rgba(7, 1, 65, 0.15); */
  padding-bottom: 3px;
  margin-bottom: 2px;
  color: rgb(10, 2, 46) !important;
}

.lawyers-list .lawyer div {
  color: rgb(22, 0, 121) !important;
}

.lawyers-list .lawyer img {
  width: 70% !important;
  height: 120px !important;
}

.lawyers-list .border-top {
  border-top: 1px solid rgb(85, 85, 85) !important;
  padding-top: 10px;
}

.lawyers-list .lawyer i {
  font-size: 18px;
}

.lawyers-search .guide-search {
  background: url("../images/books/bg-search.jpg");
  background-size: cover;
}

.reviews {
  width: 75%;
}

@media only screen and (max-width: 768px) {
  .reviews {
    width: 100%;
  }

  .news-img img {
    width: 330px;
    height: 230px;
  }

  .news-list img {
    height: 155px;
  }

  .guide .guide-items div.text-center {
    height: 90px;
  }

  .guide .ads img {
    width: 95%;
    height: 95px;
  }

  .guide .ads div:last-of-type,
  .guide .ads div:nth-last-child(2) {
    display: none !important;
  }

  .bookstore .dropdown-menu {
    margin: 39rem 0 0;
  }

  .middel_thumb_area {
    margin-top: 5px;
    background: #e4e4e4;
    margin-bottom: 10px;
  }

  .ads img {
    width: 170px;
    height: 100px;
  }

  .logo-md-show {
    display: none;
  }

  .logo-sm-show {
    display: block;
  }
}

.book-details textarea {
  font-size: 1em;
}

@media only screen and (max-width: 550px) {
  .news-img img {
    width: 300px;
    height: 220px;
  }

  .guide .ads img {
    width: 95%;
    height: 95px;
  }

  .guide .ads div:last-of-type {
    display: none !important;
  }

  .guide .ads div:nth-last-child(2) {
    display: block !important;
  }

  .bookstore-search,
  .guide-search {
    min-height: 310px;
  }

  .bookstore .card {
    width: 80% !important;
    margin-right: auto;
    margin-left: auto;
  }

  .ads img {
    width: 150px;
    height: 80px;
  }
}
