body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
}
del,
ins {
  text-decoration: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
sub {
  vertical-align: baseline;
}
legend {
  color: #000;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}
input,
button,
textarea,
select {
  font-size: 100%;
}
a {
  text-decoration: none;
}
.clear {
  clear: both;
}

/*  main slider css */

.mainSlider {
  width: 660px;
  height: 380px;
  margin-bottom: 15px;
  z-index: 999;
}
.mainSlider .sliderPhoto {
  width: 660px;
}
.mainSlider .sliderPhoto .carousel-control.left,
.mainSlider .sliderPhoto .carousel-control.right {
  top: 310px;
  width: 10px;
  height: 16px;
  background-image: none;
  color: red;
}
.mainSlider .sliderPhoto .carousel-control.left {
  left: 10px;
}
.mainSlider .sliderPhoto .carousel-control.right {
  right: 10px;
}
.mainSlider .sliderPhoto .sliderPhotoInner {
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
  position: relative;
  z-index: 9998;
}
.mainSlider .sliderPhoto .sliderPhotoInner .item {
  width: 660px;
  height: 275px;
}
.mainSlider .sliderPhoto .sliderPhotoInner .item .right {
  width: 383px;
  height: 275px;
  float: right;
}
.mainSlider .sliderPhoto .sliderPhotoInner .item .right img {
  width: 383px;
  height: 275px;
}
.mainSlider .sliderPhoto .sliderPhotoInner .item .left {
  float: left;
  width: 277px;
  height: 275px;
  background-color: #0d47a1;
}
.mainSlider {
  position: relative;
  height: 380px;
}
.mainSlider .mainSliderCarousel {
  height: 380px;
}
.mainSlider .mainStoryThumbs {
  width: 660px;
  background-color: #cfdaec;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 105px;
}
.mainSlider .mainStoryThumbs ol {
  /* width: 590px; */
  height: 97px;
  position: inherit;
  left: 40px;
  margin-left: 0;
  bottom: 9px;
}
.mainSlider .mainStoryThumbs ol li {
  width: 137px;
  height: 97px;
  border: none;
  border-radius: 0;
  float: right;
  text-indent: 0;
  margin-left: 13px;
}
.mainSlider .mainStoryThumbs ol li a {
  width: 135px;
  height: 95px;
  display: block;
}
.mainSlider .mainStoryThumbs ol li a img {
  width: 135px;
  height: 95px;
  opacity: 1;
}
.mainSlider .mainStoryThumbs ol li.active {
  border: 1px solid #e53935;
}
.mainSlider .mainStoryThumbs ol li:last-child {
  margin-left: 0;
}
.mainSlider .sliderPhoto .sliderPhotoInner .item .left {
  padding: 10px;
}
.mainSlider .sliderPhoto .sliderPhotoInner .item .left h3 {
  margin-bottom: 10px;
}
.mainSlider .sliderPhoto .sliderPhotoInner .item .left h3 a {
  color: #fff;
  font-weight: 700;
  height: 60px;
  overflow: hidden;
  display: block;
}
.mainSlider .sliderPhoto .sliderPhotoInner .item .left span {
  color: #000;
  font-size: 11px;
  display: block;
  margin-bottom: 10px;
}
.mainSlider .sliderPhoto .sliderPhotoInner .item .left p {
  font-size: 12px;
  color: #fff;
  line-height: 18px;
  font-family: tahoma;
}
.mainSlider .sliderPhoto .sliderPhotoInner .item .left .sharing {
  text-align: center;
  margin-top: 20px;
}
.mainSlider .sliderPhoto .sliderPhotoInner .item .left .sharing a {
  width: 100px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
.mainSliderCarousel .carousel-control {
  width: 10px;
  height: 16px;
  display: block;
  top: 315px;
  position: absolute;
}
.mainSliderCarousel .leftArrow {
  left: 10px;
  background-image: url(../images/greyArrow-l-ico.png);
}
.mainSliderCarousel .rightArrow {
  right: 10px;
  background-image: url(../images/greyArrow-r-ico.png);
}
