/* @import url(https://fonts.googleapis.com/css?family=Lato:400, 900); */

body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  background: #fff;
}

p,
ul,
form {
  padding: 5px;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

p {
  text-align: justify;
  padding-left: 0px;
}

a {
  color: #323233;
  text-decoration: none;
}
a:hover {
  color: #323233;
  text-decoration: none;
}

/*top_header_area*/
.top_header_area {
  width: 100%;
  /* height:128px; */
  background: #ffffff;
}

.top-area {
  height: 92px;
  padding: 30px 0 30px 0;
}
.logo_area {
  height: 85px;
  margin-bottom: 5px;
}

.logo_area img {
  margin: 10px 0 0 0;
  height: 8rem;
  width: 8rem;
}

@media only screen and (max-width: 1024px) {
  .logo_area img {
    margin: 22px auto 0 auto;
  }
}

/*main_menu*/
.main_menu {
  width: 100%;
  height: 41px;
  /*background:#C1C1C1;*/
  /*background:#3c9cf6;*/
  background: #ebebeb;
  box-shadow: 0 0 5px #8f8e8e;
}

/*middel_thumb_area_main*/
.middel_thumb_area {
  margin-top: -80px;
}

.middel_thumb_area_main {
  background: #ffffff;
  width: 100%;
  height: auto;
  padding: 7px;
  transition: 0.5s;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.middel_thumb_area_main:hover {
  background: #ffffff;
  width: 100%;
  height: auto;
  padding: 7px;
  transition: 0.5s;
  overflow: hidden;
}

.middel_thumb_area_main img {
  width: 100%;
  height: 180px;
  transition: 0.5s;
}

.middel_thumb_area_main img:hover {
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -ms-filter: brightness(70%);
  -o-filter: brightness(70%);
  transition: 0.5s;
}

/* .middel_thumb_area_main p
{
	width:100%;
	height:35px;
	text-align:center;
	line-height:25px;
	background:#838280;
	background:#3c9cf6;
	font-size:16px;
	font-weight:500;
	color:#fff;
} */

@media only screen and (max-width: 768px) {
  .middel_thumb_area {
    margin-top: 25px;
  }

  .top-area {
    padding: 30px 0 30px 0;
  }

  .middel_thumb_area_main img {
    height: 180px;
    transition: all 0.5s ease 0s;
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .middel_thumb_area {
    margin-top: 25px;
  }

  .top-area {
    height: 200px;
    padding: 30px 0 30px 0;
  }

  .middel_thumb_area_main img {
    height: 180px;
    transition: all 0.5s ease 0s;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .middel_thumb_area {
    margin-top: 25px;
  }

  .middel_thumb_area_main img {
    height: auto;
    transition: all 0.5s ease 0s;
    width: 100%;
  }

  /* .middel_thumb_area_main {
    margin-bottom: 25px;
  } */
}

.overlay {
  position: absolute;
  /*background: rgba(0,0,0,0.9);*/
  background: rgba(0, 0, 0, 0.6);
  width: 94.5%;
  color: #fff;
  padding: 0 15px;
  margin: 0 auto;
  left: 1px;
  right: 0;
}

.overlay h4 {
  font-size: 15px;
  font-weight: 300;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.title1 {
  height: 20%;
  bottom: 6px;
  z-index: 2;
  transition: 0.5s;
  overflow: hidden;
}

.overlay ul {
  list-style: disc;
  padding: 0 0 0 15px;
  font-size: 13px;
}

.middel_thumb_area_main:hover .title1 {
  height: 93%;
  bottom: 6px;
  z-index: 2;
  transition: 0.5s;
}

.content {
  top: 100%;
  height: 100%;
  transition: top 0.5s ease;
  z-index: 1;
}

.middel_thumb_area_main:hover + .content {
  top: 0;
}

@media only screen and (max-width: 768px) {
  .middel_thumb_area {
    margin-top: 25px;
  }

  .middel_thumb_area_main img {
    height: 180px;
    transition: all 0.5s ease 0s;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .middel_thumb_area {
    margin-top: 25px;
  }

  .middel_thumb_area_main img {
    height: auto;
    transition: all 0.5s ease 0s;
    width: 100%;
  }

  .middel_thumb_area_main {
    margin-bottom: 25px;
  }
}

/*home-about-area*/
/* .home-about-area {
} */

.home-about-area p {
  text-align: justify;
}

.home-about-area a {
  display: inline-block;
  font-weight: 600;
  transition: 0.5s;
}

.home-about-area a:hover {
  color: #f29106;
  transition: 0.5s;
}

.home-about-area-box-top {
  background: #838280;
  width: 100%;
  min-height: 45px;
  line-height: 45px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.home-about-area-box-bottom {
  background: #eeeeee;
  width: 100%;
  padding: 20px;
}

.home-about-area-box-bottom a {
  display: block;
  margin: 12px 0 0 0;
  font-weight: 600;
  transition: 0.5s;
}

.home-about-area-box-bottom a:hover {
  color: #f29106;
  transition: 0.5s;
}

/*home-bottom-3-section-main*/
.home-bottom-3-section {
  padding: 15px 0;
  padding-bottom: 20px;
}

.home-bottom-3-section-main {
  background: #c1c1c1;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  line-height: 45px;
  padding: 0 10px;
  font-size: 16px;
  transition: 0.5s;
}

.home-bottom-3-section-main:hover {
  background: #e0e0e0;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  line-height: 45px;
  padding: 0 10px;
  font-size: 20px;
  color: black;
  transition: 0.5s;
}

.home-bottom-3-section-main i {
  float: right;
  /* display: inline-block; */
  background: #323233;
  color: #fff;
  font-size: 18px;
  /* padding: 5px; */
  text-align: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 27px;
  margin: 10px 0 0 0;
}

.lawyers-slider-main {
  background: #eee;
  width: 100%;
  min-height: 80px;
  border-radius: 5px;
  padding: 8px 0 10px 0;
  height: 250px;
}

/* .lawyers-slider {
  margin-bottom: 25px;
} */

@media only screen and (max-width: 767px) {
  .home-bottom-3-section-main {
    margin-bottom: 15px;
  }
}

/*footer*/

.bottom-area {
  width: auto;
  min-height: 150px;
  background-color: #666666;
  color: #ffffff;
  font-size: 15px;
  /* margin-top: 10px; */
}

.bottom-left {
  text-align: left;
  line-height: 35px;
}

.bottom-left p {
  font-size: 14px;
}
.bottom-right {
  text-align: right;
  line-height: 35px;
}

.bottom-right a {
  color: #ffffff;
  text-decoration: none;
}

.bottom-right a:hover {
  color: #f8c400;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .bottom-left {
    text-align: center;
    line-height: 19px;
  }
  .bottom-right {
    text-align: center;
    line-height: 20px;
  }

  .bottom-right a {
    color: #ffffff;
    text-decoration: none;
  }

  .bottom-right a:hover {
    color: #ff9900;
    text-decoration: none;
  }
}

@media screen and (max-width: 445px) {
  .bottom-left {
    text-align: center;
    line-height: 17px;
    font-size: 12px;
  }
  .bottom-right {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
  }

  .bottom-right a {
    color: #ffffff;
    text-decoration: none;
  }

  .bottom-right a:hover {
    color: #ff9900;
    text-decoration: none;
  }
}

@media screen and (max-width: 402px) {
  .bottom-left {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
  }
  .bottom-right {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
  }

  .bottom-right a {
    color: #ffffff;
    text-decoration: none;
  }

  .bottom-right a:hover {
    color: #ff9900;
    text-decoration: none;
  }
  .bottom-left p {
    font-size: 12px;
    text-align: center;
  }
}
/*footer*/

/*social-icon*/
.social {
  padding-top: 10px;
  text-align: right;
}
.social img {
  transition: 0.5s;
  margin-left: 5px;
}
.social img:hover {
  transition: 0.5s;
  transform: rotate(40deg);
}

@media screen and (max-width: 992px) {
  .social {
    padding-top: 0px;
    text-align: center;
  }
  .social img {
    transition: 0.5s;
  }
  .social img:hover {
    transition: 0.5s;
    transform: rotate(40deg);
  }
}

@media screen and (max-width: 445px) {
  .social {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
  .social img {
    transition: 0.5s;
  }
  .social img:hover {
    transition: 0.5s;
    transform: rotate(40deg);
  }
}
/*social-icon*/

/*title*/

.title {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
}

.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 {
  border-bottom: 3px solid #f29106 !important;
  display: inline-block !important;
  margin-bottom: -2px !important;
  padding: 5px 0px !important;
  margin-top: 0;
}

/*internal-content*/
.internal-content {
  min-height: 400px;
}

.emailid_inp {
  width: 50%;
  height: 100%;
}

/*content_ul*/

/* .content_ul {
} */

.content_ul ul {
  padding: 0 0 0 15px;
}

.content_ul ul li {
  margin-bottom: 7px;
}

/*internal_banner*/
.internal_banner {
  width: 100%;
  height: auto;
}

.internal_banner img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .internal_banner {
    width: 100%;
    height: auto;
  }

  .internal_banner img {
    width: 100%;
    height: auto;
  }
}
.sub_btn {
  height: 35px;
  width: 90px;
  background-color: #30559a;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  transition: 0.5s;
}

.sub_btn:hover {
  background-color: #333333;
  transition: 0.5s;
}

.maparea {
  margin-top: 20px;
}
.cyber_img {
  margin-top: 20px;
}
.right_side {
  width: 100%;
  height: 100%;
  float: left;

  margin-right: 100px;
  margin-bottom: 10px;
}

/*menu_a*/
.menu_a {
  width: 180px !important;
}

.menu_a1 {
  width: 245px !important;
}

.menu_a2 {
  width: 158px !important;
}

.menu_a3 {
  width: 277px !important;
}

.menu_a4 {
  width: 214px !important;
}
.menu_a5 {
  width: 158px !important;
}
.menu_a6 {
  width: 158px !important;
}

@media only screen and (max-width: 768px) {
  .menu_a {
    width: 100% !important;
  }

  .menu_a1 {
    width: 100% !important;
  }

  .menu_a2 {
    width: 100% !important;
  }

  .menu_a3 {
    width: 100% !important;
  }

  .menu_a4 {
    width: 100% !important;
  }
  .menu_a5 {
    width: 100% !important;
  }
  .menu_a6 {
    width: 100% !important;
  }
}

.left_area {
  min-height: 410px;
}

.info ul {
  list-style-type: disc;
  padding: 0 0 0 15px;
  margin: 12px 0 0 0;
}

.info ul li {
  margin-bottom: 8px;
}

/* .new_con {
} */

.new_con ul {
  margin: 18px 0 0 0;
  padding: 0 0 0 15px;
  list-style: disc;
}

.new_con ul li {
  margin-bottom: 12px;
}

/*header_btn_area*/
.header_btn_area {
  float: right;
  padding: 30px 0 0 0;
}

.header_btn_area a {
  padding: 8px 15px;
  background: #30579a;
  color: #fff;
  display: block;
  border-radius: 3px;
  font-size: 13px;
  transition: 0.5s;
  text-align: center;
}

.header_btn_area a:hover {
  background: #323233;
  transition: 0.5s;
}

.header_btn_area a:focus {
  text-decoration: none;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .header_btn_area {
    float: none;
    padding: 30px 0 20px 0;
  }

  .top_header_area {
    width: 100%;
    height: auto;
    background: #ffffff;
  }

  .header_btn_area a {
    padding: 8px 15px;
    background: #30579a;
    color: #fff;
    display: block;
    border-radius: 3px;
    font-size: 13px;
    transition: 0.5s;
    text-align: center;
    width: 220px;
    margin: 0 auto;
  }
}
.pd-top {
  padding-top: 5px !important;
}

/*client-area*/
.clients-area h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
}
.clint-name {
  padding: 15px 0 40px 0;
  text-align: center;
}
.img-cnt {
  text-align: center;
  width: 100%;
}
.divider-area {
  border-bottom: 1px dotted #ccc;
  width: 100%;
  height: auto;
  padding: 10px 0;
}
