.clearout {
  height: 20px;
  clear: both;
}

#flexiselDemo1,
#flexiselDemo2,
#flexiselDemo3,
#flexiselDemo4,
#flexiselDemo5 {
  display: none;
}

.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}
.nbs-flexisel-ul {
  position: relative;
  width: 99999px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  list-style-type: none;
  text-align: center;
}

.nbs-flexisel-inner {
  overflow: hidden;
  float: left;
  width: 100%;
}

.nbs-flexisel-item {
  float: left;
  margin: 0px;
  margin-top: 10px;
  /* cursor: pointer; */
  position: relative;
  line-height: 0px;
  height: 250px;
}
.nbs-flexisel-item img {
  width: 150px;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 15px;
  /* width: 200px; */
  height: 150px;
  /* border: 0px solid gray !important;
  border-radius: 10px !important;
  box-shadow: 2px; */
}

.nbs-flexisel-item .lawyer-name {
  margin-top: 10px;
}
/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width: 22px;
  height: 22px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  opacity: 0.5;
}

.nbs-flexisel-nav-left {
  left: 10px;
  top: 125px !important;
  background: url(../images/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
  right: 5px;
  top: 125px !important;
  background: url(../images/button-next.png) no-repeat;
}
